html, body, div, ul {
	margin: 0;
	padding: 0;
}
#header {
	width: 960px;
	margin: 0 auto;
	padding: 20px 10;
	position: relative;
    background-color: green;
}
body {
    color: #262626;
	background: #f4f4f4;
	font: normal 12px/18px Verdana, sans-serif;
}

#content {
	width: 900px;
	margin: 10px auto 0 auto;
	padding: 0 20px 10px 20px;
	border: solid 1px #cbcbcb;
	background: #fafafa;
	-moz-box-shadow: 0px 0px 10px #cbcbcb;
	-webkit-box-shadow: 0px 0px 10px #cbcbcb;
}

h1 {
	margin: 30px 0 15px 0;
	font-size: 30px;
	font-weight: bold;
	font-family: Arial;
}

h1 span {
	font-size: 50%;
	letter-spacing: -0.05em;
}

hr {
	border: none;
	height: 1px; line-height: 1px;
	background: #E5E5E5;
	margin-bottom: 20px;
	padding: 0;
}

p {
	margin: 0;
	padding: 7px 0;
}

a {
	outline: none;
}

a img {
	border: 1px solid #BBB;
	padding: 2px;
	margin: 10px 20px 10px 0;
	vertical-align: top;
}

a img.last {
	margin-right: 0;	
}

ul {
	margin-bottom: 24px;
	padding-left: 30px;
}
/** Navigation **/
#navigation {
	background: url(../images/bg-menu-left-curve.gif) no-repeat left bottom;
	height: 47px;
	padding: 13px 0 0 4px;
	position: absolute;
	bottom: 0px;
	left: 0;
}
#navigation ul {
	background: url(../images/bg-menu.gif) repeat-x;
	display: inline-block;
	height: 40px;
	width: 956px;
	list-style: none;
	margin: 0;
	padding: 4px 0 3px;
}
#navigation li {
	float: left;
	font-size: 16px;
	line-height: 40px;
	margin: 0 5px;
	text-align: center;
}
#navigation li.first {
	margin-left: 0;
	
}
#navigation li.selected {
	background-color: #b7c2c8;
}
#navigation a {
	color: #092f44;
	font-weight: bold;
	padding: 0 10px;
	text-decoration: none;
	text-shadow: 1px 1px 0 #eaeaea;
}
#navigation a:hover {
	color: #0a2d43;
}
#form-upload { 
    width:500px; 
    margin:0 auto; 
    border:1px solid #ccc; 
    border-radius:10px; 
    padding:10px; 
    background-color:#E2FEEA; 
    font:14px "Trebuchet MS"; 
}